node_modules/
.env
.DS_Store

# Backend ignores
server/node_modules/
server/.env
server/db/*.db
server/db/*.db-journal
server/db/*.db-shm
server/db/*.db-wal
server/uploads/

# Frontend ignores
client/node_modules/
client/.env
client/dist/

# NPM logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm-logs
